# Database Configuration
DATABASE_URL=jdbc:postgresql://localhost:5432/inventory_management
DB_USER=postgres
DB_PASSWORD=belvi

# MinIO Configuration
MINIO_URL=http://localhost:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin123
MINIO_BUCKET_NAME=gestionstock
MINIO_REGION=us-west-2

# Application Configuration
PORT=8082
SPRING_PROFILE=dev

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:4200,http://localhost:5173,http://localhost:8080

# REMOTE URLS

#DATABASE_URL=jdbc:postgresql://inventory_management_uqi1_user:xqhoAmUuea3WcsCNtPS6Y6c6SWQYXjLU@dpg-d2mc0395pdvs738p3pb0-a.oregon-postgres.render.com/inventory_management_uqi1
#DB_USER=inventory_management_uqi1_user
#DB_PASSWORD=xqhoAmUuea3WcsCNtPS6Y6c6SWQYXjLU

#MINIO_URL=https://d6k2.or4.idrivee2-55.com
#MINIO_ACCESS_KEY=nFmZy1Jk9juGSY1LuEeO
#MINIO_SECRET_KEY=zzMd49XzPV2LkqypAMLWfXxvdVkYVzeKACHDp1ug
#MINIO_BUCKET_NAME=gestionstock

#PORT=8082
#SPRING_PROFILE=prod

JWT_KEY=bXlWZXJ5U2VjcmV0S2V5Rm9ySlRUb2tlbkdlbmVyYXRpb25UaGF0SXNMb25nRW5vdWdoRm9ySFMyNTZBbGdvcml0aG1BbmRTZWN1cmVFbm91Z2hGb3JQcm9kdWN0aW9uMTIzNDU2Nzg5



